.Score {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 400px;
    height: 100px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}
.Score.dark {
    border: 2px solid rgba(0, 0, 0, 0.75);
    color: rgba(0, 0, 0, 0.75);
}
.ScoreDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    height: 100%;
    width: 100px;
}
.ScoreDiv.dark {
    background-color: hsl(229, 25%, 31%);
}
.ScoreText {
    letter-spacing: 1px;
    font-size: 12px;
    color: hsl(229, 64%, 46%);
    font-weight: 600;
}
.ScoreText.dark {
    color: rgba(255, 255, 255, 0.5);
}
.ScoreNombre {
    color: hsl(229, 25%, 31%);
    font-size: 40px;
    font-weight: 700;
}
.ScoreNombre.dark {
    color: white;
}
.ScoreImg {
    height: 100%;
}
.ScoreImg.dark {
    filter: brightness(20%);
}
.btnReset {
    position: absolute;
    right: -40px;
    cursor: pointer;
    transition: 0.3s ease;
    height: 30px;
    width: 30px;
}
.btnReset.dark {
    fill: hsl(229, 25%, 31%);
}
.btnReset:hover {
    transform: rotateZ(-400deg);
}

@media (max-width:425px) {
    .Score{
        width: 300px;
    }
}